form{
            justify-content: center;
            justify-items: space-between;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding:1%;
            font-size:20px;
        }
        form input{
            margin:1%;
            padding:2%;
            font-size:15px;
            background: hotpink;
            border-radius:5%;
            background:white;
        }
        form input:hover{
            background: #751350ff;
            cursor: pointer;
        }
        .alert{
            color: #d30e0eff;
        }